@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Poppins", sans-serif;
}

.font {
    font-family: "Poppins", sans-serif;
}

.transparent-nav {
    background-color: #1a1a1a;

}

.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
}


.transparent-nav .nav-link {
    color: white;
    font-size: 18px;
}

.navbar .nav-link.custom-active {
    color: #ff1414;
}

.transparent-nav .nav-link:hover {
    color: #ff1414;
}

.transparent-nav .navbar-brand {
    color: white;
    font-size: 25px;
}

.transparent-nav .navbar-brand:hover {
    color: #ff1414;
}

.logo {
    border-radius: 50%;
}


.contact-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
    min-width: 300px;
}

.container {
    max-width: 100%;
}

.contact-us {
    background-color: #121212;
    padding: 70px 0;
}

.contact-us .lead {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.contact-form input,
.contact-form textarea {
    background-color: #f3f3f3;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #d9534f;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c9302c;
}


.contact-info ul {
    list-style: none;
    padding-left: 0;
}

.contact-info ul li {
    margin-bottom: 25px;
}

.contact-info ul li h5 {
    font-size: 1.2rem;
    font-weight: 500;
}


.map {
    background-color: #121212;
    padding: 50px 0;
}

.map iframe {
    border: none;
    width: 100%;
    height: 400px;
    border-radius: 12px;
}


.footer {
    background-color: #1A1A1A;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer h5 {
    font-size: 18px;
    margin: 10px 0;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ff1414;
}

.footer hr {
    margin: 20px 0;
}



@media (max-width: 576px) {

    .contact-row {
        flex-direction: column;
        gap: 30px;
    }
}


@media (min-width: 577px) and (max-width: 768px) {

    .contact-row {
        flex-direction: column;
        gap: 30px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {}


@media (min-width: 993px) and (max-width: 1200px) {}




@media (min-width: 993px) and (max-width: 1200px) {}