@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
  font-family: "Poppins", sans-serif;
}

.font{
    font-family: "Poppins", sans-serif;
}

.transparent-nav {
    background-color: #1a1a1a;
   
}

.navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
  }


.transparent-nav .nav-link {
    color: white; 
    font-size: 18px;
}

.navbar .nav-link.custom-active {
    color: #ff1414; 
}

.transparent-nav .nav-link:hover {
    color: #ff1414; 
}

.transparent-nav .navbar-brand {
    color: white; 
    font-size: 25px;
}

.transparent-nav .navbar-brand:hover {
    color: #ff1414; 
}



.logo{
    border-radius: 50%;
}

.testimonials{
    background-color: #121212;
}


.testimonials {
    padding: 5rem 0;
}

.testimonial-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-item {
    flex: 1 1 calc(33.333% - 1rem); 
    max-width: calc(33.333% - 1rem); 
    margin: 0.5rem;
}

.card {
    background-color: #333;
    color: #fff; 
    border-radius: 8px; 
}

.card-body {
    padding: 1rem;
}



.footer{
    background-color: #1A1A1A;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer h5 {
    font-size: 18px;
    margin: 10px 0;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.footer a:hover {
    color: #ff1414; 
}

.footer hr {
    margin: 20px 0; 
}





@media (max-width: 576px){
    .testimonial-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }

}


@media (min-width: 577px) and (max-width: 768px){
    .testimonial-item {
        flex: 1 1 100%; 
        max-width: 100%;
    }
    
}

@media (min-width: 769px) and (max-width: 992px){
    .testimonial-item {
        flex: 1 1 calc(50% - 1rem); 
        max-width: calc(50% - 1rem);
    }
    
}







